/* line 64, ../bower_components/hmps-animate-scss/animate.scss */
body {
  -webkit-backface-visibility: hidden;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.woof") format("woff");
}
/* line 24, ../sass/_glyphicons.scss */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 37, ../sass/_glyphicons.scss */
.glyphicon-asterisk:before {
  content: "\2a";
}

/* line 38, ../sass/_glyphicons.scss */
.glyphicon-plus:before {
  content: "\2b";
}

/* line 39, ../sass/_glyphicons.scss */
.glyphicon-euro:before {
  content: "\20ac";
}

/* line 40, ../sass/_glyphicons.scss */
.glyphicon-minus:before {
  content: "\2212";
}

/* line 41, ../sass/_glyphicons.scss */
.glyphicon-cloud:before {
  content: "\2601";
}

/* line 42, ../sass/_glyphicons.scss */
.glyphicon-envelope:before {
  content: "\2709";
}

/* line 43, ../sass/_glyphicons.scss */
.glyphicon-pencil:before {
  content: "\270f";
}

/* line 44, ../sass/_glyphicons.scss */
.glyphicon-glass:before {
  content: "\e001";
}

/* line 45, ../sass/_glyphicons.scss */
.glyphicon-music:before {
  content: "\e002";
}

/* line 46, ../sass/_glyphicons.scss */
.glyphicon-search:before {
  content: "\e003";
}

/* line 47, ../sass/_glyphicons.scss */
.glyphicon-heart:before {
  content: "\e005";
}

/* line 48, ../sass/_glyphicons.scss */
.glyphicon-star:before {
  content: "\e006";
}

/* line 49, ../sass/_glyphicons.scss */
.glyphicon-star-empty:before {
  content: "\e007";
}

/* line 50, ../sass/_glyphicons.scss */
.glyphicon-user:before {
  content: "\e008";
}

/* line 51, ../sass/_glyphicons.scss */
.glyphicon-film:before {
  content: "\e009";
}

/* line 52, ../sass/_glyphicons.scss */
.glyphicon-th-large:before {
  content: "\e010";
}

/* line 53, ../sass/_glyphicons.scss */
.glyphicon-th:before {
  content: "\e011";
}

/* line 54, ../sass/_glyphicons.scss */
.glyphicon-th-list:before {
  content: "\e012";
}

/* line 55, ../sass/_glyphicons.scss */
.glyphicon-ok:before {
  content: "\e013";
}

/* line 56, ../sass/_glyphicons.scss */
.glyphicon-remove:before {
  content: "\e014";
}

/* line 57, ../sass/_glyphicons.scss */
.glyphicon-zoom-in:before {
  content: "\e015";
}

/* line 58, ../sass/_glyphicons.scss */
.glyphicon-zoom-out:before {
  content: "\e016";
}

/* line 59, ../sass/_glyphicons.scss */
.glyphicon-off:before {
  content: "\e017";
}

/* line 60, ../sass/_glyphicons.scss */
.glyphicon-signal:before {
  content: "\e018";
}

/* line 61, ../sass/_glyphicons.scss */
.glyphicon-cog:before {
  content: "\e019";
}

/* line 62, ../sass/_glyphicons.scss */
.glyphicon-trash:before {
  content: "\e020";
}

/* line 63, ../sass/_glyphicons.scss */
.glyphicon-home:before {
  content: "\e021";
}

/* line 64, ../sass/_glyphicons.scss */
.glyphicon-file:before {
  content: "\e022";
}

/* line 65, ../sass/_glyphicons.scss */
.glyphicon-time:before {
  content: "\e023";
}

/* line 66, ../sass/_glyphicons.scss */
.glyphicon-road:before {
  content: "\e024";
}

/* line 67, ../sass/_glyphicons.scss */
.glyphicon-download-alt:before {
  content: "\e025";
}

/* line 68, ../sass/_glyphicons.scss */
.glyphicon-download:before {
  content: "\e026";
}

/* line 69, ../sass/_glyphicons.scss */
.glyphicon-upload:before {
  content: "\e027";
}

/* line 70, ../sass/_glyphicons.scss */
.glyphicon-inbox:before {
  content: "\e028";
}

/* line 71, ../sass/_glyphicons.scss */
.glyphicon-play-circle:before {
  content: "\e029";
}

/* line 72, ../sass/_glyphicons.scss */
.glyphicon-repeat:before {
  content: "\e030";
}

/* line 73, ../sass/_glyphicons.scss */
.glyphicon-refresh:before {
  content: "\e031";
}

/* line 74, ../sass/_glyphicons.scss */
.glyphicon-list-alt:before {
  content: "\e032";
}

/* line 75, ../sass/_glyphicons.scss */
.glyphicon-lock:before {
  content: "\e033";
}

/* line 76, ../sass/_glyphicons.scss */
.glyphicon-flag:before {
  content: "\e034";
}

/* line 77, ../sass/_glyphicons.scss */
.glyphicon-headphones:before {
  content: "\e035";
}

/* line 78, ../sass/_glyphicons.scss */
.glyphicon-volume-off:before {
  content: "\e036";
}

/* line 79, ../sass/_glyphicons.scss */
.glyphicon-volume-down:before {
  content: "\e037";
}

/* line 80, ../sass/_glyphicons.scss */
.glyphicon-volume-up:before {
  content: "\e038";
}

/* line 81, ../sass/_glyphicons.scss */
.glyphicon-qrcode:before {
  content: "\e039";
}

/* line 82, ../sass/_glyphicons.scss */
.glyphicon-barcode:before {
  content: "\e040";
}

/* line 83, ../sass/_glyphicons.scss */
.glyphicon-tag:before {
  content: "\e041";
}

/* line 84, ../sass/_glyphicons.scss */
.glyphicon-tags:before {
  content: "\e042";
}

/* line 85, ../sass/_glyphicons.scss */
.glyphicon-book:before {
  content: "\e043";
}

/* line 86, ../sass/_glyphicons.scss */
.glyphicon-bookmark:before {
  content: "\e044";
}

/* line 87, ../sass/_glyphicons.scss */
.glyphicon-print:before {
  content: "\e045";
}

/* line 88, ../sass/_glyphicons.scss */
.glyphicon-camera:before {
  content: "\e046";
}

/* line 89, ../sass/_glyphicons.scss */
.glyphicon-font:before {
  content: "\e047";
}

/* line 90, ../sass/_glyphicons.scss */
.glyphicon-bold:before {
  content: "\e048";
}

/* line 91, ../sass/_glyphicons.scss */
.glyphicon-italic:before {
  content: "\e049";
}

/* line 92, ../sass/_glyphicons.scss */
.glyphicon-text-height:before {
  content: "\e050";
}

/* line 93, ../sass/_glyphicons.scss */
.glyphicon-text-width:before {
  content: "\e051";
}

/* line 94, ../sass/_glyphicons.scss */
.glyphicon-align-left:before {
  content: "\e052";
}

/* line 95, ../sass/_glyphicons.scss */
.glyphicon-align-center:before {
  content: "\e053";
}

/* line 96, ../sass/_glyphicons.scss */
.glyphicon-align-right:before {
  content: "\e054";
}

/* line 97, ../sass/_glyphicons.scss */
.glyphicon-align-justify:before {
  content: "\e055";
}

/* line 98, ../sass/_glyphicons.scss */
.glyphicon-list:before {
  content: "\e056";
}

/* line 99, ../sass/_glyphicons.scss */
.glyphicon-indent-left:before {
  content: "\e057";
}

/* line 100, ../sass/_glyphicons.scss */
.glyphicon-indent-right:before {
  content: "\e058";
}

/* line 101, ../sass/_glyphicons.scss */
.glyphicon-facetime-video:before {
  content: "\e059";
}

/* line 102, ../sass/_glyphicons.scss */
.glyphicon-picture:before {
  content: "\e060";
}

/* line 103, ../sass/_glyphicons.scss */
.glyphicon-map-marker:before {
  content: "\e062";
}

/* line 104, ../sass/_glyphicons.scss */
.glyphicon-adjust:before {
  content: "\e063";
}

/* line 105, ../sass/_glyphicons.scss */
.glyphicon-tint:before {
  content: "\e064";
}

/* line 106, ../sass/_glyphicons.scss */
.glyphicon-edit:before {
  content: "\e065";
}

/* line 107, ../sass/_glyphicons.scss */
.glyphicon-share:before {
  content: "\e066";
}

/* line 108, ../sass/_glyphicons.scss */
.glyphicon-check:before {
  content: "\e067";
}

/* line 109, ../sass/_glyphicons.scss */
.glyphicon-move:before {
  content: "\e068";
}

/* line 110, ../sass/_glyphicons.scss */
.glyphicon-step-backward:before {
  content: "\e069";
}

/* line 111, ../sass/_glyphicons.scss */
.glyphicon-fast-backward:before {
  content: "\e070";
}

/* line 112, ../sass/_glyphicons.scss */
.glyphicon-backward:before {
  content: "\e071";
}

/* line 113, ../sass/_glyphicons.scss */
.glyphicon-play:before {
  content: "\e072";
}

/* line 114, ../sass/_glyphicons.scss */
.glyphicon-pause:before {
  content: "\e073";
}

/* line 115, ../sass/_glyphicons.scss */
.glyphicon-stop:before {
  content: "\e074";
}

/* line 116, ../sass/_glyphicons.scss */
.glyphicon-forward:before {
  content: "\e075";
}

/* line 117, ../sass/_glyphicons.scss */
.glyphicon-fast-forward:before {
  content: "\e076";
}

/* line 118, ../sass/_glyphicons.scss */
.glyphicon-step-forward:before {
  content: "\e077";
}

/* line 119, ../sass/_glyphicons.scss */
.glyphicon-eject:before {
  content: "\e078";
}

/* line 120, ../sass/_glyphicons.scss */
.glyphicon-chevron-left:before {
  content: "\e079";
}

/* line 121, ../sass/_glyphicons.scss */
.glyphicon-chevron-right:before {
  content: "\e080";
}

/* line 122, ../sass/_glyphicons.scss */
.glyphicon-plus-sign:before {
  content: "\e081";
}

/* line 123, ../sass/_glyphicons.scss */
.glyphicon-minus-sign:before {
  content: "\e082";
}

/* line 124, ../sass/_glyphicons.scss */
.glyphicon-remove-sign:before {
  content: "\e083";
}

/* line 125, ../sass/_glyphicons.scss */
.glyphicon-ok-sign:before {
  content: "\e084";
}

/* line 126, ../sass/_glyphicons.scss */
.glyphicon-question-sign:before {
  content: "\e085";
}

/* line 127, ../sass/_glyphicons.scss */
.glyphicon-info-sign:before {
  content: "\e086";
}

/* line 128, ../sass/_glyphicons.scss */
.glyphicon-screenshot:before {
  content: "\e087";
}

/* line 129, ../sass/_glyphicons.scss */
.glyphicon-remove-circle:before {
  content: "\e088";
}

/* line 130, ../sass/_glyphicons.scss */
.glyphicon-ok-circle:before {
  content: "\e089";
}

/* line 131, ../sass/_glyphicons.scss */
.glyphicon-ban-circle:before {
  content: "\e090";
}

/* line 132, ../sass/_glyphicons.scss */
.glyphicon-arrow-left:before {
  content: "\e091";
}

/* line 133, ../sass/_glyphicons.scss */
.glyphicon-arrow-right:before {
  content: "\e092";
}

/* line 134, ../sass/_glyphicons.scss */
.glyphicon-arrow-up:before {
  content: "\e093";
}

/* line 135, ../sass/_glyphicons.scss */
.glyphicon-arrow-down:before {
  content: "\e094";
}

/* line 136, ../sass/_glyphicons.scss */
.glyphicon-share-alt:before {
  content: "\e095";
}

/* line 137, ../sass/_glyphicons.scss */
.glyphicon-resize-full:before {
  content: "\e096";
}

/* line 138, ../sass/_glyphicons.scss */
.glyphicon-resize-small:before {
  content: "\e097";
}

/* line 139, ../sass/_glyphicons.scss */
.glyphicon-exclamation-sign:before {
  content: "\e101";
}

/* line 140, ../sass/_glyphicons.scss */
.glyphicon-gift:before {
  content: "\e102";
}

/* line 141, ../sass/_glyphicons.scss */
.glyphicon-leaf:before {
  content: "\e103";
}

/* line 142, ../sass/_glyphicons.scss */
.glyphicon-fire:before {
  content: "\e104";
}

/* line 143, ../sass/_glyphicons.scss */
.glyphicon-eye-open:before {
  content: "\e105";
}

/* line 144, ../sass/_glyphicons.scss */
.glyphicon-eye-close:before {
  content: "\e106";
}

/* line 145, ../sass/_glyphicons.scss */
.glyphicon-warning-sign:before {
  content: "\e107";
}

/* line 146, ../sass/_glyphicons.scss */
.glyphicon-plane:before {
  content: "\e108";
}

/* line 147, ../sass/_glyphicons.scss */
.glyphicon-calendar:before {
  content: "\e109";
}

/* line 148, ../sass/_glyphicons.scss */
.glyphicon-random:before {
  content: "\e110";
}

/* line 149, ../sass/_glyphicons.scss */
.glyphicon-comment:before {
  content: "\e111";
}

/* line 150, ../sass/_glyphicons.scss */
.glyphicon-magnet:before {
  content: "\e112";
}

/* line 151, ../sass/_glyphicons.scss */
.glyphicon-chevron-up:before {
  content: "\e113";
}

/* line 152, ../sass/_glyphicons.scss */
.glyphicon-chevron-down:before {
  content: "\e114";
}

/* line 153, ../sass/_glyphicons.scss */
.glyphicon-retweet:before {
  content: "\e115";
}

/* line 154, ../sass/_glyphicons.scss */
.glyphicon-shopping-cart:before {
  content: "\e116";
}

/* line 155, ../sass/_glyphicons.scss */
.glyphicon-folder-close:before {
  content: "\e117";
}

/* line 156, ../sass/_glyphicons.scss */
.glyphicon-folder-open:before {
  content: "\e118";
}

/* line 157, ../sass/_glyphicons.scss */
.glyphicon-resize-vertical:before {
  content: "\e119";
}

/* line 158, ../sass/_glyphicons.scss */
.glyphicon-resize-horizontal:before {
  content: "\e120";
}

/* line 159, ../sass/_glyphicons.scss */
.glyphicon-hdd:before {
  content: "\e121";
}

/* line 160, ../sass/_glyphicons.scss */
.glyphicon-bullhorn:before {
  content: "\e122";
}

/* line 161, ../sass/_glyphicons.scss */
.glyphicon-bell:before {
  content: "\e123";
}

/* line 162, ../sass/_glyphicons.scss */
.glyphicon-certificate:before {
  content: "\e124";
}

/* line 163, ../sass/_glyphicons.scss */
.glyphicon-thumbs-up:before {
  content: "\e125";
}

/* line 164, ../sass/_glyphicons.scss */
.glyphicon-thumbs-down:before {
  content: "\e126";
}

/* line 165, ../sass/_glyphicons.scss */
.glyphicon-hand-right:before {
  content: "\e127";
}

/* line 166, ../sass/_glyphicons.scss */
.glyphicon-hand-left:before {
  content: "\e128";
}

/* line 167, ../sass/_glyphicons.scss */
.glyphicon-hand-up:before {
  content: "\e129";
}

/* line 168, ../sass/_glyphicons.scss */
.glyphicon-hand-down:before {
  content: "\e130";
}

/* line 169, ../sass/_glyphicons.scss */
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}

/* line 170, ../sass/_glyphicons.scss */
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}

/* line 171, ../sass/_glyphicons.scss */
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}

/* line 172, ../sass/_glyphicons.scss */
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}

/* line 173, ../sass/_glyphicons.scss */
.glyphicon-globe:before {
  content: "\e135";
}

/* line 174, ../sass/_glyphicons.scss */
.glyphicon-wrench:before {
  content: "\e136";
}

/* line 175, ../sass/_glyphicons.scss */
.glyphicon-tasks:before {
  content: "\e137";
}

/* line 176, ../sass/_glyphicons.scss */
.glyphicon-filter:before {
  content: "\e138";
}

/* line 177, ../sass/_glyphicons.scss */
.glyphicon-briefcase:before {
  content: "\e139";
}

/* line 178, ../sass/_glyphicons.scss */
.glyphicon-fullscreen:before {
  content: "\e140";
}

/* line 179, ../sass/_glyphicons.scss */
.glyphicon-dashboard:before {
  content: "\e141";
}

/* line 180, ../sass/_glyphicons.scss */
.glyphicon-paperclip:before {
  content: "\e142";
}

/* line 181, ../sass/_glyphicons.scss */
.glyphicon-heart-empty:before {
  content: "\e143";
}

/* line 182, ../sass/_glyphicons.scss */
.glyphicon-link:before {
  content: "\e144";
}

/* line 183, ../sass/_glyphicons.scss */
.glyphicon-phone:before {
  content: "\e145";
}

/* line 184, ../sass/_glyphicons.scss */
.glyphicon-pushpin:before {
  content: "\e146";
}

/* line 185, ../sass/_glyphicons.scss */
.glyphicon-usd:before {
  content: "\e148";
}

/* line 186, ../sass/_glyphicons.scss */
.glyphicon-gbp:before {
  content: "\e149";
}

/* line 187, ../sass/_glyphicons.scss */
.glyphicon-sort:before {
  content: "\e150";
}

/* line 188, ../sass/_glyphicons.scss */
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}

/* line 189, ../sass/_glyphicons.scss */
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}

/* line 190, ../sass/_glyphicons.scss */
.glyphicon-sort-by-order:before {
  content: "\e153";
}

/* line 191, ../sass/_glyphicons.scss */
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}

/* line 192, ../sass/_glyphicons.scss */
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}

/* line 193, ../sass/_glyphicons.scss */
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}

/* line 194, ../sass/_glyphicons.scss */
.glyphicon-unchecked:before {
  content: "\e157";
}

/* line 195, ../sass/_glyphicons.scss */
.glyphicon-expand:before {
  content: "\e158";
}

/* line 196, ../sass/_glyphicons.scss */
.glyphicon-collapse-down:before {
  content: "\e159";
}

/* line 197, ../sass/_glyphicons.scss */
.glyphicon-collapse-up:before {
  content: "\e160";
}

/* line 198, ../sass/_glyphicons.scss */
.glyphicon-log-in:before {
  content: "\e161";
}

/* line 199, ../sass/_glyphicons.scss */
.glyphicon-flash:before {
  content: "\e162";
}

/* line 200, ../sass/_glyphicons.scss */
.glyphicon-log-out:before {
  content: "\e163";
}

/* line 201, ../sass/_glyphicons.scss */
.glyphicon-new-window:before {
  content: "\e164";
}

/* line 202, ../sass/_glyphicons.scss */
.glyphicon-record:before {
  content: "\e165";
}

/* line 203, ../sass/_glyphicons.scss */
.glyphicon-save:before {
  content: "\e166";
}

/* line 204, ../sass/_glyphicons.scss */
.glyphicon-open:before {
  content: "\e167";
}

/* line 205, ../sass/_glyphicons.scss */
.glyphicon-saved:before {
  content: "\e168";
}

/* line 206, ../sass/_glyphicons.scss */
.glyphicon-import:before {
  content: "\e169";
}

/* line 207, ../sass/_glyphicons.scss */
.glyphicon-export:before {
  content: "\e170";
}

/* line 208, ../sass/_glyphicons.scss */
.glyphicon-send:before {
  content: "\e171";
}

/* line 209, ../sass/_glyphicons.scss */
.glyphicon-floppy-disk:before {
  content: "\e172";
}

/* line 210, ../sass/_glyphicons.scss */
.glyphicon-floppy-saved:before {
  content: "\e173";
}

/* line 211, ../sass/_glyphicons.scss */
.glyphicon-floppy-remove:before {
  content: "\e174";
}

/* line 212, ../sass/_glyphicons.scss */
.glyphicon-floppy-save:before {
  content: "\e175";
}

/* line 213, ../sass/_glyphicons.scss */
.glyphicon-floppy-open:before {
  content: "\e176";
}

/* line 214, ../sass/_glyphicons.scss */
.glyphicon-credit-card:before {
  content: "\e177";
}

/* line 215, ../sass/_glyphicons.scss */
.glyphicon-transfer:before {
  content: "\e178";
}

/* line 216, ../sass/_glyphicons.scss */
.glyphicon-cutlery:before {
  content: "\e179";
}

/* line 217, ../sass/_glyphicons.scss */
.glyphicon-header:before {
  content: "\e180";
}

/* line 218, ../sass/_glyphicons.scss */
.glyphicon-compressed:before {
  content: "\e181";
}

/* line 219, ../sass/_glyphicons.scss */
.glyphicon-earphone:before {
  content: "\e182";
}

/* line 220, ../sass/_glyphicons.scss */
.glyphicon-phone-alt:before {
  content: "\e183";
}

/* line 221, ../sass/_glyphicons.scss */
.glyphicon-tower:before {
  content: "\e184";
}

/* line 222, ../sass/_glyphicons.scss */
.glyphicon-stats:before {
  content: "\e185";
}

/* line 223, ../sass/_glyphicons.scss */
.glyphicon-sd-video:before {
  content: "\e186";
}

/* line 224, ../sass/_glyphicons.scss */
.glyphicon-hd-video:before {
  content: "\e187";
}

/* line 225, ../sass/_glyphicons.scss */
.glyphicon-subtitles:before {
  content: "\e188";
}

/* line 226, ../sass/_glyphicons.scss */
.glyphicon-sound-stereo:before {
  content: "\e189";
}

/* line 227, ../sass/_glyphicons.scss */
.glyphicon-sound-dolby:before {
  content: "\e190";
}

/* line 228, ../sass/_glyphicons.scss */
.glyphicon-sound-5-1:before {
  content: "\e191";
}

/* line 229, ../sass/_glyphicons.scss */
.glyphicon-sound-6-1:before {
  content: "\e192";
}

/* line 230, ../sass/_glyphicons.scss */
.glyphicon-sound-7-1:before {
  content: "\e193";
}

/* line 231, ../sass/_glyphicons.scss */
.glyphicon-copyright-mark:before {
  content: "\e194";
}

/* line 232, ../sass/_glyphicons.scss */
.glyphicon-registration-mark:before {
  content: "\e195";
}

/* line 233, ../sass/_glyphicons.scss */
.glyphicon-cloud-download:before {
  content: "\e197";
}

/* line 234, ../sass/_glyphicons.scss */
.glyphicon-cloud-upload:before {
  content: "\e198";
}

/* line 235, ../sass/_glyphicons.scss */
.glyphicon-tree-conifer:before {
  content: "\e199";
}

/* line 236, ../sass/_glyphicons.scss */
.glyphicon-tree-deciduous:before {
  content: "\e200";
}

/* line 5, ../sass/ngNotificationsBar.scss */
.notifications .notifications-container {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 60px;
  line-height: 60px;
  width: 100%;
  z-index: 1000;
}
/* line 15, ../sass/ngNotificationsBar.scss */
.notifications .notification, .notifications .error, .notifications .success, .notifications .warning {
  position: relative;
  -webkit-animation: fadeInDown 1s ease 0.2s 1 both;
  -moz-animation: fadeInDown 1s ease 0.2s 1 both;
  animation: fadeInDown 1s ease 0.2s 1 both;
  -webkit-animation-backface-visibility: hidden;
  -moz-animation-backface-visibility: hidden;
  -ms-animation-backface-visibility: hidden;
  -o-animation-backface-visibility: hidden;
  animation-backface-visibility: hidden;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 23, ../sass/ngNotificationsBar.scss */
.notifications .message {
  padding: 0 12px;
}
/* line 27, ../sass/ngNotificationsBar.scss */
.notifications .error {
  background-color: #F64747;
}
/* line 32, ../sass/ngNotificationsBar.scss */
.notifications .success {
  background-color: #03C9A9;
}
/* line 37, ../sass/ngNotificationsBar.scss */
.notifications .warning {
  background-color: #F7CA18;
}
/* line 42, ../sass/ngNotificationsBar.scss */
.notifications .close-click {
  font-size: 12px;
  cursor: pointer;
  padding: 10px;
  margin: 0 auto;
}
