@import "../bower_components/hmps-animate-scss/animate.scss";

.notifications {
	.container {
		position: fixed;
		top: 0;
		left: 0;
		min-height: 60px;
		line-height: 60px;
		width: 100%;
		z-index: 1000;
	}

	.error {
		position: relative;
		@include fadeInDown();
		background-color: #F64747;
		text-align: center;
		color: #fff;
	}

	.close-click {
		font-size: 10px;
		cursor: pointer;
		padding: 10px;
		margin: 0 auto;
	}
}
